server:
  port: 9527
eureka:
  client:
    service-url:
      defaultZone: http://localhost:7001/eureka
  instance:
    instance-id: gateway-9527.com
    prefer-ip-address: true
zuul:
  routes:
    plat.serviceId: aigou-plat-test
    plat.path: /plat/**
  ignored-services: "*"
  prefix: "/services"
spring:
  application:
    name: MICROSERVICE-ZUUL-GATEWAY